---
import Nav from './Nav.astro';
import banner from '../assets/banner.png';
---

<header
        class="w-full bg-cover bg-center px-0 lg:pr-6 lg:h-[1000px] h-[850px] relative"
        style={`background-image: url('${banner.src}');`}
>
    <div class="relative z-50 w-full">
        <Nav />
    </div>
</header>
