---
import Nav from './Nav.astro';
import banner from '../assets/banner.png';
---

<header
        class="w-full bg-cover bg-center p-10 h-[1600px]"
        style={`background-image: url('${banner.src}');`}
>
    <div class="relative z-10 w-full">
        <Nav />
    </div>
</header>
