---
import BaseHead from "../components/BaseHead.astro";
const {title, description, image="/img.png"} = Astro.props
import '../styles/global.css'
import Nav from "../components/Nav.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image}/>
	</head>
	<body class="overflow-x-hidden">
		<slot />
	</body>
	<div
		class="bg-white text-secundario py-2 text-center text-[12px]"
	>
    <span
	>Diseño y Desarrollo Web por <a
		href="https://www.fincreativo.com/"
		target="_blank">FINCREATIVO</a
	></span
	>
	</div>
</html>
