---
import BaseHead from "../components/BaseHead.astro";
const {title, description, image="/assets/astro.svg"} = Astro.props
import '../styles/global.css'
import Nav from "../components/Nav.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image}/>
	</head>
	<body>
		<slot />
	</body>
</html>
